
body {  
  background-color: rgb(207, 250, 134);
  text-align: center;
  color: rgb(59, 95, 59);  
  line-height: 1.5;
  /* background-image: url("../images/3635.jpg"); */
}

#container {
background-color: darkolivegreen;
margin: 10px;
margin-bottom: 10px;
padding: 10px;
border-radius: 125px;
}

#definitions {
  background-color: antiquewhite;
  margin: 5px;
  padding: 10px;
  width: 100%;
  border: 2px solid rgb(19, 43, 19);
  border-radius: 200px;
}

#backDrop {
  background-color: rgb(5, 107, 39);
  margin: 10px;
  padding: 20px;
  border: 2px solid rgb(19, 43, 19);
  border-radius: 10px;
}

#instructions {
  background-color: beige;
  margin: 10px;
  margin-left: 30px;
  padding: 20px;
  width: 100%;
  line-height: 25px;
  font-size: large;
  border: 1px solid rgb(19, 43, 19);
  border-radius: 10px;
}

#rightContainer {
  background-color: beige;
  margin: 10px;
  margin-left: 30px;
  padding: 20px;
  width: 100%;
  line-height: 25px;
  font-size: large;
  border: 1px solid rgb(19, 43, 19);
  border-radius: 10px;
}

.btn {
  background-color: #482511;
  color: white;
}

#intervalDiv {
  padding-bottom: 10px;
}

#question {
  margin-top: 20px;
  padding: 15px;
  font-size: 25px;
}

#correctAnswers {
  margin-top: 250px;
  font-weight: bold;
  font-size: 20px;
}

#answers {
  padding-top: 10px;
  padding:15px;
  font-size: 20px;
}

.answerChoice:hover{
  color: #e67a4c;
}

#bottom {
  background-color: rgb(54, 54, 54);
  color: white;
  text-align: center;
  font-size: small;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 2px;
  margin: 0;
  width: 100%;
  height: 20px;
  position: fixed;
  bottom: 0;
}

#footer {
  position: static;
}